/* Colors */
$primary: #FFF;
$secondary: #eb7c6b;
$tertiary: #729a8a;

/* Typography */
$font: 'Proxima Nova';

/* Paddings */
$header-footer-right-padding: 5em;
$header-footer-padding: 0 6em;
$small-header-footer-padding: 0 2em;
$small-header-footer-right-padding: 1em;

/* Margins */
$card-margin: 16px;

/* Border radius */
$border-radius: 6px;